In [1]:
import pandas as pd
import os
from IPython.display import display

In [14]:
path = '/home/chernov.kirill9/projects/gases/gases-sensors/catboost/results/exp3_melted_on_exp_4'

In [15]:
for i in range(1, 13):
    print(f'R{i}')
    df = pd.read_csv(os.path.join(path, f'R{i}_test_metrics.csv'))
    df.set_index('Unnamed: 0', inplace=True)
    df.index.name = None
    display(df)

R1

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-0.206771,0.262745,0.377345,-1.165001,0.092340,0.555627,-1056.206804,-2.713747,-0.507570
linear_short,0.650044,0.326533,0.229542,-0.392087,0.599924,0.156867,0.229542,-1.657627,0.317036
steps_up,-0.629560,0.196779,0.194142,-1.169650,0.716149,0.806326,-0.298761,-0.182315,0.600957
steps_up_pulse,-1.049904,0.484246,0.790351,-0.100714,0.023453,0.899712,0.790351,-1.049904,-0.745622
steps_down,-0.705482,-0.729115,0.110214,-0.319257,0.390202,0.394295,0.110214,0.008040,0.300743
steps_down_pulse,0.477009,0.291898,0.228838,-0.660078,0.027303,0.477168,0.223965,-0.218135,0.317609

R2

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-0.407122,0.109991,0.398933,-1.222632,0.210444,0.301719,-554.195020,-0.151107,0.613115
linear_short,-0.300857,0.206439,0.341681,-0.376880,0.215701,0.140079,0.341681,-0.002880,0.873345
steps_up,-0.659148,0.089790,0.404120,-0.036823,0.201557,0.316320,0.625223,-0.256326,0.633672
steps_up_pulse,0.167324,0.431115,0.852079,-0.134978,0.693513,0.674671,0.852079,0.167324,-0.735714
steps_down,-0.688420,0.399506,0.204148,-0.700033,0.118990,0.277742,0.204148,-0.204270,0.926147
steps_down_pulse,0.201620,0.494793,0.734907,-0.418734,0.505629,0.525981,0.705032,-0.212471,0.837112

R3

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-3.813617,-0.738677,0.073825,-0.744080,-0.741374,-0.680402,-0.183907,-4.644408,0.279650
linear_short,0.230821,-0.019565,0.457662,-0.421190,-0.597455,0.014113,0.457662,-0.748137,0.664348
steps_up,-0.672173,-0.739252,0.008553,-0.754791,-0.739641,-0.683889,0.762263,-0.066497,0.259746
steps_up_pulse,-1.031424,0.681922,0.790586,-0.148830,-0.012208,0.433733,0.790586,-1.031424,-0.743334
steps_down,-0.651995,-0.760237,0.539078,-0.524883,-0.103562,-0.309311,0.539078,0.040576,0.718911
steps_down_pulse,-0.292755,0.384408,0.501406,-0.492436,-0.401637,-0.319545,0.592346,0.115622,0.808720

R4

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-3.932552,-0.742617,-0.742049,-0.745712,-0.688053,-0.682689,-0.032243,-4.644369,-0.735527
linear_short,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
steps_up,-0.596202,-0.738896,-0.744157,-0.668781,-0.744869,-0.684414,-0.796282,-2.104935,-0.741732
steps_up_pulse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
steps_down,NaN,NaN,NaN,NaN,NaN,-0.000015,NaN,NaN,NaN
steps_down_pulse,NaN,-0.000477,-0.000044,NaN,NaN,-0.676187,NaN,-0.000383,-0.003675

R5

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-3.372317,-0.725034,-0.517079,-0.744188,-0.743340,-0.682225,-0.611928,-4.604319,-0.695101
linear_short,-0.321548,-0.288029,0.543753,-0.168571,0.016278,0.930642,0.543753,-0.213993,0.491564
steps_up,-0.668311,-0.697929,-0.385335,-0.748826,-0.460899,-0.510810,0.062109,-0.098555,-0.565437
steps_up_pulse,0.242048,-0.889261,0.853307,-0.284949,0.253517,0.460029,0.853307,0.242048,-0.691557
steps_down,-0.654698,-1.125044,0.485967,-1.516027,-0.130519,0.700583,0.485967,-0.614293,0.829834
steps_down_pulse,0.071583,-4.019101,0.315566,-3.871978,-4.230032,0.152751,-2.409831,-0.099519,-1.269992

R6

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-4.659445,-0.713864,-0.739181,-0.779760,-0.498592,-0.683922,-0.557179,-4.641649,-0.738074
linear_short,NaN,-0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
steps_up,-0.553671,-0.271346,-0.743886,-0.758815,-0.756137,-0.677986,-0.796392,-4.631535,-0.741916
steps_up_pulse,NaN,NaN,NaN,NaN,-0.000001,NaN,NaN,NaN,NaN
steps_down,NaN,NaN,NaN,NaN,NaN,-0.000015,NaN,NaN,NaN
steps_down_pulse,NaN,-4.674148,-4.603993,NaN,NaN,-1.640012,NaN,-4.515667,-4.586117

R7

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-1.597910,0.068055,0.071607,-0.183128,0.141717,0.476305,-2409.578440,-1.816452,0.772656
linear_short,0.028871,-0.495500,0.627037,-0.379946,0.440705,0.986377,0.627037,-0.548834,0.970109
steps_up,-0.665955,0.198059,-0.301877,0.051526,0.095683,0.785122,-0.877567,-0.048522,0.460396
steps_up_pulse,-0.079615,0.495833,0.989776,0.562372,0.951476,0.908260,0.989776,-0.079615,-0.745144
steps_down,-0.620323,0.522699,0.940402,-0.565590,0.185425,0.859261,0.940402,-0.079465,0.805295
steps_down_pulse,-0.212727,-2.354994,0.259267,-0.375933,0.876993,0.578949,0.479999,-0.946262,0.588630

R8

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-0.870014,-0.743078,0.578606,-0.732731,-0.743179,0.050453,-3115.740037,-4.668639,0.930475
linear_short,0.114401,0.002424,0.668505,-0.374901,0.299420,0.725605,0.668505,-1.523428,0.844986
steps_up,-0.667703,-0.706959,0.680576,-0.744680,-0.738205,0.095457,-0.325013,-0.108377,0.678646
steps_up_pulse,0.126616,0.522075,0.994561,0.627300,0.400094,0.510029,0.994561,0.126616,-0.745713
steps_down,-0.659648,0.126896,0.674346,-0.601371,0.481688,0.348249,0.674346,0.601186,0.934165
steps_down_pulse,0.215998,0.354236,0.891454,-0.512547,0.463706,0.781901,-0.151259,0.425214,0.861831

R9

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-2.966971,-5.224473,-4.519969,-4.672796,-4.655046,-4.629261,-14458.235666,-4.678755,-4.288888
linear_short,-2.194087,-4.676821,0.456529,-4.689484,-4.674951,-0.356374,0.456529,-4.687406,0.966956
steps_up,-0.553137,-4.678689,-4.412140,-4.016973,-4.654433,-4.626133,-4.608444,-4.668053,-4.669780
steps_up_pulse,-0.310075,-5.305078,0.584344,-2.860491,-3.085949,-1.476567,0.584344,-0.310075,-0.745646
steps_down,-0.551389,-4.613242,0.828565,-4.658216,-4.507649,-2.738434,0.828565,-2.904288,0.831426
steps_down_pulse,0.481377,-4.576189,-0.787038,-4.798435,-4.874897,-4.448020,-4.525051,-4.668483,0.756947

R10

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-2.751490,-4.682713,-4.524271,-4.664451,-4.668882,-4.599271,-14347.616332,-4.663971,-4.518824
linear_short,-1.284782,-0.492000,-0.349695,-4.667276,-4.644724,-1.458071,-0.349695,-4.695444,0.845018
steps_up,-0.553198,-4.633727,-4.675820,-4.567928,-4.682357,-4.554842,-4.608488,-4.659893,-4.666231
steps_up_pulse,-0.704813,-4.549288,0.328442,0.000016,0.235979,-4.461903,0.328442,-0.704813,-0.739913
steps_down,-0.629182,-1.874963,0.385467,-4.659528,-4.630960,-2.925567,0.385467,-0.867254,0.671804
steps_down_pulse,-0.090484,-4.770476,-1.155513,-0.131029,-4.573267,-3.941769,-1.824931,-4.689750,0.528946

R11

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-4.672309,-0.747482,-0.218752,-0.753960,-0.736255,-0.681377,-5.774316,-2.737304,-0.097687
linear_short,0.397797,0.218440,0.998140,-4.711830,-3.048775,0.614819,0.998140,-1.909448,0.850131
steps_up,-0.644054,-0.749426,-0.323022,-0.740990,-0.755000,-0.688604,0.961843,-0.481046,0.042072
steps_up_pulse,-0.539962,0.827861,0.820710,-4.252936,0.696421,0.521108,0.820710,-0.539962,-0.749356
steps_down,-0.551327,-0.596496,0.990927,-2.157021,0.496390,-0.252457,0.990927,-0.290179,0.685564
steps_down_pulse,0.614843,-0.700609,0.962883,-0.585263,0.087094,-0.265098,0.827393,0.539027,0.975813

R12

,NO,CH4,H2S,SO2,HCOH,CO,H2,NO2,NH3
linear,-4.693578,-0.690203,-0.735178,-0.772982,-0.608422,-0.538362,-2384.354294,-4.663886,-0.702115
linear_short,-0.192690,0.471815,-2.021697,-4.526490,-4.674292,0.072648,-2.021697,-0.279857,0.752837
steps_up,-0.549827,-0.692020,-0.684996,-0.799826,-0.743200,-0.676447,-4.605772,-5.049865,0.161876
steps_up_pulse,0.012967,-0.107368,0.604159,-0.180046,0.636692,0.394718,0.604159,0.012967,-0.749100
steps_down,-0.619176,0.534931,0.044967,-1.922671,-0.192108,0.409532,0.044967,-4.427831,-0.330662
steps_down_pulse,-0.072816,0.374617,-0.114546,-0.704397,0.692178,-0.166310,0.841532,-2.227122,0.831423